/*!
 *  v0.1
 *  By Julian G. West & Jelle Braat
 *  Custom css
*/

.Header{
	background-color: #0000FF;
	position:fixed;
	height:10%;
	width:100%;

	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #0000FF),
	color-stop(1, #8C8CFA)
	);
	background-image: -o-linear-gradient(bottom, #0000FF 0%, #8C8CFA 100%);
	background-image: -moz-linear-gradient(bottom, #0000FF 0%, #8C8CFA 100%);
	background-image: -webkit-linear-gradient(bottom, #0000FF 0%, #8C8CFA 100%);
	background-image: -ms-linear-gradient(bottom, #0000FF 0%, #8C8CFA 100%);
	background-image: linear-gradient(to bottom, #0000FF 0%, #8C8CFA 100%);
}

.Header > h1{
	color: #ffffff;
	text-align: center;
}

.MainContainer{
	padding-top: 8%;
	width:90%;
	margin-right: 5%;
	margin-left: 5%;
	background-color: hsl(190, 70%, 75%) ;

}

.Navbar-Button{
	border-color: #000000;
	border: dotted;
	border-width: 2px;

}

.Row{
	width:98%;
	margin-left: 1%;
	margin-right: 1%;
}

.Col-1{
	width: 10%;
}
.Col-2{
	width: 25%;
}
.Col-3{
	width:33%;
}
.Col-4{
	width:50%;
}


