/*!
 *  v0.1
 *  By Julian G. West & Jelle Braat
 *  Custom css
*/
html{
	font-family: helvetica;
}

.Header{
	background-color: #0000FF;
	position:fixed;
	width:100%;
	z-index: 10;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0000FF),	color-stop(1, #8C8CFA));
	background-image: -o-linear-gradient(bottom, #0000FF 0%, #8C8CFA 100%);
	background-image: -moz-linear-gradient(bottom, #0000FF 0%, #8C8CFA 100%);
	background-image: -webkit-linear-gradient(bottom, #0000FF 0%, #8C8CFA 100%);
	background-image: -ms-linear-gradient(bottom, #0000FF 0%, #8C8CFA 100%);
	background-image: linear-gradient(to bottom, #0000FF 0%, #8C8CFA 100%);
}

.Header h1{
	margin-top: 2px;
	color: #ffffff;
	text-align: center;
}

.Navbar-Button{
	color: #ffffff;
	font-size: 16pt;
	text-decoration: none;
	font-weight:bold;
	border-color: transparent;
	cursor: pointer;
}
.Navbar-Button :hover{
	background-color: #0000FF;
	font-weight: bolder;
}
.Navbar-Button-Align{
	float:left;
	width:25%;
}

.Header .Row {
	text-align: center;
	content-align: center;
}

.MainContainer{
	padding-top: 5%;
	padding-bottom: 5%;
	width:90%;
	height:90%;
	margin-right: auto;
	margin-left: auto;
	padding-left: 2%;
	padding-right: 2%;
/*	background-color: hsl(190, 70%, 75%) ; */
	background-color: #8C8CFA;
	word-wrap: break-word;
	color:#ffffff;
}

.Table{
	overflow-x: auto;
	border: 1px solid #ffffff;
	min-height: 0.01%;
	width: 100%;
	padding-left:2%;
	padding-right:2%;
}

.Table > thead > tr > td{
	background-color: #3030F2;
	font-size: 12pt;
	font-weight: bolder;
	padding: 2px 2px 2px 2px;
}
.Table > tbody > tr > td,
.Table > tfoot > tr > td,
.Table > thead > tr > th,
.Table > tbody > tr > th,
.Table > tfoot > tr > th{
	border: 1px solid #ffffff;
	padding: 2px 2px 2px 2px;
}

.Table > tbody > tr > td:hover,
.Table > tfoot > tr > td:hover,
.Table > thead > tr > th:hover,
.Table > tbody > tr > th:hover,
.Table > tfoot > tr > th:hover{
	background-color: #0000ff;
}
.Fieldset {
	border: 4px double #ffffff;
}
.Fieldset legend{
	font-weight: bolder;
	font-size: 16px;
	font-family: "trebuchet ms";
}


@media(max-width: 992px){
	.MainContainer{
		padding-top:10%;
	}
	.Table{
		width: 100%;
		margin-bottom: 17.25px;
		overflow-y: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		border: 1px solid #dddddd;
	}
}

.Footer{
	width: 100%;	
	padding-top:1%;
	padding-bottom: 1%;
	vertical-align: middle;
	color: #ffffff;

	background-image: -webkit-gradient(linear,right bottom, right top, color-stop(0, #0000FF), color-stop(1, #8C8CFA));
	background-image: -o-linear-gradient(top, #0000FF 0%, #8C8CFA 100%);
	background-image: -moz-linear-gradient(top, #0000FF 0%, #8C8CFA 100%);
	background-image: -webkit-linear-gradient(top, #0000FF 0%, #8C8CFA 100%);
	background-image: -ms-linear-gradient(top, #0000FF 0%, #8C8CFA 100%);
	background-image: linear-gradient(to top, #0000FF 0%, #8C8CFA 100%);
}
.Footer > h1{
	font-weight: bold;
	margin: 2% 2% 2% 2%;
	font-size: 12pt;
}
.Footer > a {
	font-weight: bold;
	font-size: 8pt;
	text-decoration: underline;
	margin: 2% 2% 2% 2%;
	color: #8888ff;
}
.Footer > a:hover{
	color:#ffffff;
}

.Row, .Vertical-Spacing{
	display: table;
	width:98%;
	margin-left: -2px;
	margin-right: -2px;
	min-height: 1px;
}
.Vertical-Spacing{
	height: 20pt;
}
.Col-10, .Col-25, .Col-33, .Col-50, .Col-66, .Col-75{
	float:left;
	min-height: 1px;
	padding-left: 1%;
	padding-right: 1%;
}
.Col-10{
	width: 8%;
}
.Col-25{
	width: 23%;
}
.Col-33{
	width:31%;
}
.Col-50{
	width:48%;
} 
.Col-66{
	width:64%;
}
.Col-75{
	width:73%;
}
.Button{
	color:#0000ff;
	background-color: #2196f3;
	border-color: transparent;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 1px;
	text-rendering: optimizeLegibility;
}
.Button:hover,
.Button:focus,
.Button.focus,
.Button:active,
.Button.active{
	color: #ffffff;
	background-color: #0c7cd5;
	border-color: rgba(0,0,0,0);
}
.Button.disabled,
.Button.disabled:hover,
.Button.disabled:focus,
.Button.disabled:active,
.Button.disabled.active{
	background-color: #2196f3;
	border-color:transparent;
}

.Textfield{
	color: #000000;
	letter-spacing: 1px;

}
.Textfield:hover{
	background-color: #BAFFFD;
}
.Textfield:focus,
.Textfield:active{
	background-color: #81C5FF;
	border-color: #BAFFFD;
}

.Image-Scale{
	display: block;
	max-width: 100%;
	height: auto;
}
.Label-For{
	font-weight: bold;
}

.Article{
	border: 4px double #ffffff;	
	height: 100%;
	padding:1%;
}
.Article input{
	width: 96%;
	margin: 1%;
	margin-right: auto;
	margin-left: auto;
}
